
html,body{
    margin:0px;
    padding:0px;

}
body{
 width: 100vw;
 height: 100%;
 background-color: #bed1cd;
}
.App {
  text-align: center;
  height: calc(100% - 100px);
  margin-left: 10%;
  margin-right: 10%;
  width: calc(100% - 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__form {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  display: flex;
  width: calc(100% - 80px);
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 30px;
}
.app__formControl {
  display: flex !important;
  width: 100%;
  flex-direction: row !important;
}
.app__iconButton {
  flex: 0;
}
.app__Input {
  flex: 1;
}
.flipMove{
  width: 100% !important;
}
