.message {
  margin: 20px;
  width: fit-content;
  max-width: calc(100% - 40px) !important;
  word-wrap: break-word;
  text-align: left !important;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}
.message__userCard {
  background-color: #0b81ff !important;
}
.message__guestCard {
  background-color: #e9e9eb !important;
}
.message div{
  border-radius: 5px 20px 5px !important;
}
